<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      dir="ltr"
      data-theme="theme-default"
      th:data-assets-path="@{/app-assets/}"
      data-template="vertical-menu-template"
      data-style="light">

<head>
    <title>Latte Break</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{images/logo.jpg}"/>
    <link th:href="@{assets/bootstrap-5.3.3-dist/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{assets/fontawesome-free-6.7.2-web/css/all.min.css}">
    <link rel="stylesheet" th:href="@{assets/dist/apexcharts.css}">
    <link rel="stylesheet" th:href="@{assets/css/index.css}">
    <link rel="stylesheet" th:href="@{/vendor/css/rtl/core.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/css/rtl/theme-default.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/fonts/boxicons.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/fonts/fontawesome.css}"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" th:href="@{assets/dataTable/datatables.min.css}">

    <script th:src="@{assets/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{assets/js/jquery.min.js}"></script>
    <script th:src="@{assets/dataTable/datatables.min.js}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>

<body>
<style>
    #calendar .ui-datepicker {
       width: 100% !important;
    }

    .ui-datepicker .has-schedule a {
        background-color: green !important;
        color: black !important;
    }
</style>
<!-- Wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <div th:replace="~{layout/menu :: _layout-menu}"></div>

        <!-- Header -->
        <div class="layout-page">
            <div th:replace="~{layout/header :: _header}"></div>
            <div class="content-wrapper">
                <div id="frag_container" class="container-xxl flex-grow-1 container-p-y">
                    <div class="card">

                        <div class="card-header">
                            <div class="card-title"><h4>DASHBOARD</h4></div>
                            <hr>
                        </div>

                        <input type="hidden" id="role_id" th:value="${session.role_id}">

                        <div class="card-body">
                            <div class="card w-100">
                                <div class="card-body">
                                    <div class="">
                                        <h5>Search</h5>
                                    </div>
                                    <div class="w-100">
                                        <input class="form-control" type="text" id="searchInput"
                                               placeholder="Input keyword here..." autocomplete="off">
                                        <div class="mt-2" id="results"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2 w-100 d-flex flex-md-row flex-column gap-2 flex-nowrap">

                                <div class="card w-100">
                                    <div class="card-body">
                                        <h5>Recent Transactions</h5>
                                        <div class="table-responsive">
                                            <table id="DT_RecentTransaction" class="table table-hover table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Transaction</th>
                                                    <th>Products</th>
                                                    <th>Transacted By</th>
                                                    <th>Transaction Date and Time</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <a th:href="@{/transactionList}" class="btn w-100 btn-outline-primary">GO TO TRANSACTION LIST</a>
                                    </div>
                                </div>
                                <div class="card w-100">
                                    <div class="card-body">
                                        <h5>Item Critical Quantity</h5>
                                        <div class="table-responsive">
                                            <table id="DT_CriticalQuantity" class="table table-hover table-striped">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Item Name</th>
                                                    <th>Category</th>
                                                    <th>Current Quantity</th>
                                                    <th>Critical Quantity</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <a th:href="@{/itemList}" class="btn w-100 btn-outline-primary">GO TO ITEM MANAGEMENT</a>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2 w-100 h-50 d-flex flex-md-row flex-column gap-2 flex-nowrap">
                                <div class="card w-100">
                                    <div class="card-body">
                                        <div class="text-start">
                                            <h4>BEST SELLER</h4>
                                        </div>
                                        <div style="max-height: 300px; overflow-y: auto;" class="d-flex flex-column gap-2">
                                            <div class="d-flex flex-column border-bottom" th:each="item : ${categoryList}">
                                                <div class="p-3">
                                                    <h4 th:text="${item.category_name}"></h4>
                                                </div>
                                                <div class="d-flex">
                                                    <th:block  th:each="product : ${topProducts}">
                                                        <h5 class="col-4" th:if="${product.category_id == item.category_id}" th:text="${product.rn + '. ' + product.product_name}"></h5>
                                                    </th:block>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <a th:href="@{/pos}" class="btn w-100 btn-outline-primary">GO TO POS</a>
                                    </div>
                                </div>
                                <div class="card w-100">
                                    <div class="card-body">
                                        <div class="text-start">
                                            <h4>CALENDAR SCHEDULE</h4>
                                        </div>
                                        <div id="calendar" class="w-100"></div>
                                    </div>
                                    <div class="card-footer">
                                        <a th:href="@{/event_management}" class="btn w-100 btn-outline-primary">GO TO TRANSACTION LIST</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{view/dashboard/modals/event_modal :: _event_modal}"></div>

<!-- Helpers -->
<script src="" th:src="@{/app-assets/vendor/js/helpers.js}"></script>
<script src="" th:src="@{/app-assets/vendor/js/template-customizer.js}"></script>
<script src="" th:src="@{/app-assets/js/config.js}"></script>

<script src="" th:src="@{/app-assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script src="" th:src="@{/app-assets/vendor/libs/hammer/hammer.js}"></script>
<script src="" th:src="@{/app-assets/vendor/libs/typeahead-js/typeahead.js}"></script>
<script src="" th:src="@{/app-assets/vendor/libs/select2/select2.js}"></script>
<script src="" th:src="@{/app-assets/vendor/libs/jquery-mask-plugin/jquery.mask.min.js}"></script>
<script src="" th:src="@{/app-assets/vendor/js/menu.js}"></script>

<!-- Scripts -->
<script th:src="@{/app-assets/vendor/js/menu.js}"></script>
<script th:src="@{/app-assets/js/main.js}"></script>
<script th:src="@{assets/dist/apexcharts.min.js}"></script>
<script th:src="@{assets/js/index.js}"></script>
<script src="" th:src="@{/assets/base/global.js}"></script>
<script src="" th:src="@{/assets/base/base.js}"></script>

</body>

</html>