<div th:fragment="_add_category_item_modal" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="modal fade" id="add_category_item_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="add_category_item_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="add_category_item_modal_label">Add Category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="form_addCategoryItem">
                <div class="d-flex gap-2 flex-column">
                  <span>Category Name :</span>
                  <input name="category_name" class="form-control">
                  <div class="text-end">
                    <button class="btn btn-primary">Save</button>
                  </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
